body{
    background: url(img/fondohollow.jpg) no-repeat center center /cover;
}

.header {
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 2px white;
}

.texto1, 
.texto2{
    color: white;
}